@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('fonts/lmroman-normal.woff2') format('woff2'),
         url('fonts/lmroman-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Roman';
    src: url('fonts/lmroman-bold.woff2') format('woff2'),
         url('fonts/lmroman-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Roman';
    src: url('fonts/lmroman-italic.woff2') format('woff2'),
         url('fonts/lmroman-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    background-image: linear-gradient(to left, rgb(172, 155, 155), rgb(216, 198, 198));
    color: #ebdbb2;
    font-family: 'Latin Modern Roman';
    margin: 0;
}

.mjx-container, .katex {
    font-family: inherit; 
    font-size: 1em;       
    line-height: normal;
}

.math-container {
    overflow: visible; 
}

p {
	text-indent: 2em;
}

q, blockquote {
    quotes: "“" "”" "‘" "’";
}
div, p {
	quotes: "“" "”" "‘" "’";
	font-variant-ligatures: common-ligatures;
	font-kerning: normal;
    margin: auto;
    width: 800px;
    text-align: justify;
    font-size: 24px;
    text-justify: inter-word;
    hyphens: auto;
    font-style: normal;
}

.box {
    flex: 1;
    text-align: justify;
}

.search-bar {
    padding: 10px;
    text-align: center;
    padding-bottom: 30px;
	font-size: 30px;
}

.search {
    width: 400px;
    height: 50px;
    border: 5px solid #000;
    border-radius: 20px;
	font-size: 26px;
}

.search::placeholder {
    font-style: italic;
    text-align: center;
    font-size: 26px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    padding-bottom: 30px;
    color: #34839b;
    font-family: 'Lora', serif;
    text-align: center;
    justify-content: center;
}

.title {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    font-weight: 400px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #000000;
}

.circle-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid transparent;
    object-fit: cover;
}

.center {
	width: 100%;
    text-align: center;
}

.tabbed {
    text-indent: 2em;
}
h1 { text-align: center;
	margin-bottom: 0.25em;
}

.button {
    text-decoration: none;
    color: #000000;
    display: flex;
    position: relative;
	margin: 10px 0;
    font-size: 30px;
    background-color: #898f91;
    border-radius: 50px;
    width: 300px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', serif;
    margin: 0px 20px;
    border: 5px solid #000000;
}

.button:last-child {
    margin: 0px 0px;
}

.button:hover {
    background-color: #a7a3a3;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    padding-bottom: 80px;
}

.container {
    display: flex;
    height: auto;
    box-sizing: border-box;
    justify-content: center;
    padding: 20px 0px;
    align-content: center;
    margin: 0 auto;
    max-width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

.item {
    width: 150px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 5px solid #000000;
    background-color: #898f91;
    border-radius: 20px;
    display: inline-block;
}

.item-name {
    font-weight: bold;
    color: #000000;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 30px;
}

.item-amount {
    font-size: 20px;
    color: #000000;
}

.borrow-button {
    background-color: #bdcfd4;
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
    height: auto;
    display: inline-block;
}

.borrow-button:hover {
    background-color: #7c8c91;
}

.donation-container {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    border: solid 5px #000000;
    width: min-content;
    border-radius: 20px;
    background-color: #898f91;
}

.itemNameD {
    align-content: center;
    width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color:#000000;
    padding-left: 10px;
    padding-right: 10px;
}

.itemDescD {
    align-content: center;
    width: max-content;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.itemAmtD {
    align-content: center;
    width: max-content;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonD {
    background-color: #bdcfd4;
    padding: 10px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.msgD {
    padding-top: 40px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.tradeFormA {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: block;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    border: solid 5px #000000;
    width: min-content;
    border-radius: 20px;
    background-color: #898f91;
    padding: 20px
}

.tradeFormB {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: block;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    border: solid 5px #000000;
    width: min-content;
    border-radius: 20px;
    background-color: #898f91;
    padding: 20px;
    margin-top: 50px;
}

.itemNameTA {
    align-content: center;
    width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color:#000000;
    padding-left: 10px;
    padding-right: 10px;
}

.itemDescTA {
    align-content: center;
    width: max-content;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.itemAmtTA {
    align-content: center;
    width: max-content;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.itemNameTB {
    align-content: center;
    width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color:#000000;
    padding-left: 10px;
    padding-right: 10px;
}

.itemDescTB {
    align-content: center;
    width: max-content;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.itemAmtTB {
    align-content: center;
    width: max-content;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonTA {
    background-color: #bdcfd4;
    padding: 10px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.buttonTB {
    background-color: #bdcfd4;
    padding: 10px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.returnForm {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: block;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    border: solid 5px #000000;
    width: min-content;
    border-radius: 20px;
    background-color: #898f91;
    padding: 20px;
    margin-top: 50px;
}

.itemNameR {
    align-content: center;
    width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color:#000000;
    padding-left: 10px;
    padding-right: 10px;
}

.itemDescR {
    align-content: center;
    width: max-content;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.itemAmtR {
    align-content: center;
    width: max-content;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonR {
    background-color: #bdcfd4;
    padding: 10px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.buttonR:hover {
    background-color: #74868b;
}

.buttonTA:hover {
    background-color: #74868b;
}

.buttonTB:hover {
    background-color: #74868b;
}

.buttonD:hover {
    background-color: #74868b;
}

.byline {
	font-size: 24px;
	margin-top: 10px;
}

.byline-date {
	font-style: normal;
}
